/* Create Default color name(based on category) */
:root {
    --primary: #b6895b;
    --bg: #010101;
}

/* Set all selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Make the scroll on the web turns smoother than before */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* min-height: 4000px; */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #271806;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

/* Navbar nav */
.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary)
}

/* Create underline under navbar text */
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    /* Hide the underline with scaleX = 0 */
    transform: scaleX(0);
    transition: 0.3s linear;
}

/* Show the hidden underline on navbar when cursor hover the navbar text */
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

/* Navbar extra */
.navbar .navbar-extra a {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

/* Create underline under navbar text */
.navbar .navbar-extra a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    /* Hide the underline with scaleX = 0 */
    transform: scaleX(0);
    transition: 0.3s linear;
}

/* Show the hidden underline on navbar when cursor hover the navbar text */
.navbar .navbar-extra a:hover::after {
    transform: scaleX(0.9);
}

.navbar .navbar-extra #shopping-cart {
    position: relative;
}

.navbar .navbar-extra #shopping-cart .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10px;
}

/* .navbar .navbar-extra #shopping-cart .quantity-badge:hover {
    color: #fff;
} */

/* Navbar Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 35rem;
    height: 4rem;
    display: flex;
    align-items: center;
    /* Hide searchform */
    transform: scaleY(0);
    /* Show searchform from the top */
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    /* Show searchform */
    transform: scaleY(1);
}

.navbar .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* Shopping Cart */
.navbar .shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%; /*ubah menjadi -100% nanti*/
    background-color: #fff;
    width: 35rem;
    height: 100vh;
    padding: 0 1.5rem;
    color: var(--bg);
    transition: 0.5s;
}

.navbar .shopping-cart.active {
    right: 0;
}

.navbar .shopping-cart .cart-items {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed rgba(73, 71, 71, 0.829);
    /* Change into position = relative to set the trash/delete button customize */
    position: relative;
}

.navbar .shopping-cart .cart-items img {
    width: 4rem;
    height: 4rem;
}

.navbar .shopping-cart .cart-items .item-details h3 {
    font-size: 1.4rem;
}

.navbar .shopping-cart .cart-items .item-details .item-price #remove,
.navbar .shopping-cart .cart-items .item-details .item-price #add {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: rgb(97, 10, 97);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar .shopping-cart .cart-items .remove-item a {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: var(--bg);
}

.navbar .shopping-cart .cart-items .remove-item a:hover {
    color: rgb(139, 5, 5);
}

.navbar .shopping-cart .totalCart {
    font-size: 1.8rem;
    margin-top: 2rem;
    text-align: center;
}

.navbar .shopping-cart .emptyCart {
    font-size: 1.5rem;
    margin-top: 10rem;
    text-align: center;
}


/* Checkout Form */
.navbar .shopping-cart .form-container {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.navbar .shopping-cart .form-container form {
    width: 100%;
    text-align: center;
}

.navbar .shopping-cart .form-container form h5 {
    font-size: 2rem;
    text-align: center;
}

.navbar .shopping-cart .form-container form label {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
}

.navbar .shopping-cart .form-container form label span {
    text-align: left;
    flex: 1;
    /* margin-right: 1rem; */
}

.navbar .shopping-cart .form-container form label input {
    background-color: #fff;
    /* background-color: #fff; */
    padding: 5px;
    font-size: 1rem;
    width: 70%;
    border: solid 1px var(--bg);
}

.navbar .shopping-cart .form-container .checkout-class {
    text-align: center;
}

.navbar .shopping-cart .form-container .checkout-button {
    padding: 6px 14px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 20px;
    margin: 1rem 0;
    cursor: pointer;
    width: 30%;
    border: solid 2px var(--primary);
}

.navbar .shopping-cart .form-container .checkout-button.disabled {
    background-color: #999;
    cursor: not-allowed;
}

/* Section HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/coffee-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .hero .content {
    padding: 2rem 4%;
    max-width: 37rem;
    margin-top: -240px;
} */

.hero .content span {
    color: var(--primary);
}

/* .hero .content h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .buy_now {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
} */


/* Make a gradiation from the coffee picture into the bottom */
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 18%, rgba(255, 255, 255, 0) 50%);
}


/* ABOUT US SECTION */
.about, .menu, .contact {
    padding: 9rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 8rem;
}

.about h2 span, .menu h2 span, .contact h2 span {
    color: var(--primary)
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
}

/* MENU Section */
.menu h2 {
    margin-bottom: 1rem;
}

.menu p {
    max-width: 30rem;
    text-align: center;
    margin: auto;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 7rem;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    margin-bottom: 6rem;
    border: 1px solid var(--primary);
    padding: 2rem;
    margin-left: 2rem;
}

.menu .row .menu-card .product-image img {
    max-width: 60rem;
    max-height: 20rem;
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin: 1rem auto 0.3rem;
}

.menu .row .menu-card .menu-card-price {
    margin-bottom: 0.5rem;
}

.menu .row .menu-card .product-icon {
    display: block;
    justify-content: center;
    text-align: center;
    margin-left: 8rem;
}

.menu .row .menu-card .product-icon a {
    color: var(--primary);
    width: 4rem;
    height: 4rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .row .menu-card .product-icon a:hover {
    background-color: var(--primary);
    color: var(--bg);
}

.menu .row .menu-card .product-stars {
    font-size: 3rem;
    color: var(--primary);
}

.menu .row .menu-card .product-stars .bintang {
    fill: rgb(219, 219, 9);
}

/* CONTACT Section */
.contact {
    margin-bottom: 7rem;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    max-height: 150rem;
    background-color: #1b1b1b;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 2rem;
    padding: 1rem 2rem;
    text-align: center;
}

.contact .row form h2 {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: var(--primary);
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

/* FOOTER SOCIAL Section */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 2rem;
    margin-top: 3rem;
}

footer .socials {
    color: #fff;
    margin-bottom: 2rem;
}

footer .socials h3 {
    margin-bottom: 1rem;
    color: var(--bg);
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a.facebook:hover {
    color: rgba(12, 150, 214, 0.801);
}

footer .socials a.instagram:hover {
    color: rgb(196, 11, 97);
}


footer .links a {
    color: var(--bg);
    text-decoration: underline;
    margin: 1rem;
    font-size: 1.2rem;
}

footer .links a:hover {
    color: #fff;
}

footer .credit {
    margin-top: 1rem;
}

footer .credit p {
    color: var(--bg);
}

footer .credit p a {
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
}


/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    #hamburger-menu {
        display: none;
    }

    /* HERO SECTION */
    .hero .content {
        padding: 2rem 4%;
        max-width: 37rem;
        margin-top: -240px;
    }

    .hero .content h1 {
        font-size: 3em;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1.2;
    }
    
    .hero .content p {
        font-size: 1.3rem;
        margin-top: 1rem;
        line-height: 1.4;
        font-weight: 100;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }

    .hero .content .buy_now {
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1.4rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }
}

/* Tablet */
@media (max-width: 834px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    /* Set up Navbar-nav is hidden if hamburger button appear */
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.5s;
    }
    
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 3rem;
    }

    .navbar .navbar-nav a:hover {
        color: #fff;
    }

    /* Create underline under navbar text */
    .navbar .navbar-nav a::after {
        content: '';
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 0.3rem solid black;
        /* Hide the underline with scaleX = 0 */
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: 0.3s linear;
    }

    /* Show the hidden underline on navbar when cursor hover the navbar text */
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.5);
    }


    /* HERO SECTION */
    .hero .content {
        padding: 2rem 4%;
        max-width: 37rem;
        margin-top: -240px;
        backdrop-filter: blur(2px);
    }

    .hero .content h1 {
        font-size: 3em;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1.2;
    }
    
    .hero .content p {
        font-size: 1.3rem;
        margin-top: 1rem;
        line-height: 1.4;
        font-weight: 100;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }
    
    .hero .content .buy_now {
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1.4rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }

    /* CONTACT US Section */
    .contact .row {
        flex-wrap: wrap;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 75%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    /* Set up Navbar-nav is hidden if hamburger button appear */
    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 13rem;
        height: 100vh;
        transition: 0.5s;
    }
    
    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a:hover {
        color: #fff;
    }

    /* Create underline under navbar text */
    .navbar .navbar-nav a::after {
        content: '';
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 0.3rem solid black;
        /* Hide the underline with scaleX = 0 */
        transform: scaleX(0);
        transform-origin: 0 0;
        transition: 0.3s linear;
    }

    /* Show the hidden underline on navbar when cursor hover the navbar text */
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.5);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .navbar .shopping-cart.active {
        right: -30%;
    }

    .navbar .shopping-cart .cart-items .remove-item {
        position: absolute;
        right: 10rem;
        cursor: pointer;
    }

    /* HERO SECTION */
    .hero .content {
        padding: 2rem 4%;
        max-width: 37rem;
        margin-top: -240px;
        backdrop-filter: blur(2px);
    }

    .hero .content h1 {
        font-size: 2em;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1.2;
    }
    
    .hero .content p {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.4;
        font-weight: 100;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }
    
    .hero .content .buy_now {
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1.4rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .content {
        padding: 0;
    }
}